<div class="about-container" #about>
  <div class="container">
    <div class="content">
      <h1></h1>
      <p>
        From ideation to development to implementation, everything is constantly
        evolving in business. For every entrepreneur, the ability to shift
        paradigms and evolve is highly critical. The business world is
        approaching a phase where leaving the old behind and embracing
        innovative way of doing business is salient.
      </p>
      <p>
        At PressOne Africa, we are supporting 2 ambitious entrepreneurs with
        $3000 and business advisory to improve their business.
      </p>
    </div>
  </div>
</div>
