.criteria-container {
  padding: 10rem 0;

  background-image: url("./../../../assets/images/criteria-image.png");
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: 25% 100%;

  @media (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
    background-image: none;
  }

  .showcase {
    height: 100%;
    width: 100%;
  }

  h1 {
    margin-left: 30px;
    padding-left: 0;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      font-size: 1.2rem;
      margin-bottom: 20px;
      margin-left: 0;
      padding-left: 30px;
      position: relative;

      &:before {
        content: url("./../../../assets/images/polygon.png");
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
        height: 10px;
      }
    }
  }
}
