<div class="criteria-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="showcase"></div>
      </div>
      <div class="col-md-6">
        <h1 class="my-4">Criteria</h1>

        <ul>
          <li>Have a registered business</li>
          <li>
            Must operate in one of the following industries: Education &
            training, Hospitality, Technology & media, Agriculture, Real Estate,
            Health & food, Entertainment, Commercial & retail and Financial
            services.
          </li>
          <li>Have a PressOne number</li>
        </ul>

        <button class="mt-4 primary-button" (click)="links.openLink()">
          Submit Entry
        </button>
      </div>
    </div>
  </div>
</div>
