<div class="intro-container">
  <div class="container lines-bg">
    <div class="intro-header">
      <img src="../../../assets/images/white-logo.png" alt="press one logo" />
    </div>

    <div class="intro-content">
      <div class="row">
        <div class="col-md-6">
          <div class="intro-content__main">
            <div class="block-text">
              <span>Evolve With</span>
            </div>
            <div class="block-text block-text__larger">
              <span>PressOne</span>
            </div>

            <p class="info mt-5">
              A project sponsored by <br />
              PressOne Africa
            </p>

            <div class="down-arrow">
              <img
                (click)="scroll.updateScrollTo('about')"
                src="../../../assets/images/down-arrow.png"
                alt="down arrow"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="intro-content__image">
            <div class="bg">
              <img
                src="../../../assets/images/intro-image.png"
                alt="intro image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
