<div class="task-container">
  <div class="container">
    <div class="content">
      <h1>Application Task</h1>
      <p>
        Send a 1000 words impact feature about how your business has evolved and
        your strategic plan for the next 3 years.
      </p>
    </div>
  </div>
</div>

<div class="deadline-container">
  <div class="deadline-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="deadline-content__main">
            <div class="d-block">
              <span class="deadline-header d-block">Deadline :</span>
              <span class="deadline-date d-block">30th, October, 2022</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="deadline-content__action">
            <button class="primary-button">Apply Here</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
