.task-container {
  padding: 8rem 0;
  height: 50rem;
  background-image: url("https://res.cloudinary.com/dywqrl9ia/image/upload/v1665419723/press-one-landing/task-image_iqmjgi.png");
  background-size: cover;
  background-repeat: no-repeat;

  .content {
    padding: 3rem 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 768px) {
      width: 70%;
    }

    @media (max-width: 450px) {
      width: 80%;
    }

    h1 {
      color: white;
      margin: 2rem 0 4rem 0;
    }

    p {
      color: white;
      font-size: 1.5rem;
      margin-bottom: 40px;
      font-weight: 300;
    }
  }
}

.deadline-container {
  .deadline-content {
    padding: 6rem 0;
    background-color: #f2faff;
    border-radius: 7px;
    margin: 0 70px 50px 70px;
    margin-top: -120px;

    @media (max-width: 768px) {
      margin: -120px 35px 50px 35px;
    }

    .deadline-content__main {
      margin: 0 auto;
      width: 50%;

      @media (max-width: 768px) {
        width: 75%;
      }

      span.deadline-header {
        font-size: 1.1rem;
        color: #636161;
      }

      span.deadline-date {
        font-size: 1.5rem;
      }
    }

    .deadline-content__action {
      button {
        width: 70%;
      }

      @media (max-width: 768px) {
        text-align: center;
        margin-top: 30px;
      }
    }
  }
}
